@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400i,500,600,700,700i&display=swap");

h2 {
  width: 80%;
  padding-left: 2vw;
  margin: 0px;
  text-align: left;
  font-family: "Josefin Sans";
  font-size: 25px;
  font-weight: 700;
  color: rgb(51, 51, 51);
}

h3 {
  margin: 0;
  padding-bottom: 5px;

  font-family: "Josefin Sans";
  font-weight: 600;
  font-size: 1.5em;
}

h4 {
  margin: 0;
  font-weight: 400;
  padding-bottom: 10px;
  font-family: "Josefin Sans";
  color: rgb(63, 63, 63);
}

h5 {
  margin: 0;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  color: rgb(240, 106, 44);
}

/* General Styling */

.App {
  text-align: center;
  height: 100%;
  margin: 0;
}

.title-wrapper {
  width: 60%;
}

.blocks {
  width: 60%;
  display: inline-flex;
  text-align: left;
}

.write-up {
  margin-top: 10px;
  font-weight: 400;
  line-height: 1.3em;
  font-family: "Raleway";
  text-align: justify;
}

.logoimg {
  width: 20vw;
  border-radius: 10px;
}

.logo,
.info {
  padding: 3vh 2vw 3vh 2vw;
}

.section1-wrapper {
  margin: 0;
  min-height: 100vh;
}


/* Header */
.header {
  height: 100vh;
  width: 100%;

  background-image: url("assets/img/background.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-wrapper {
  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-text-first {
  text-align: left;
  color: white;
  font-size: 50px;
  font-style: italic;
  font-weight: 300;
  font-family: "Josefin Sans";
  padding: 10px 0px 10px 0px;
}

.header-text-second {
  margin: 0;
  padding: 0;

  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 700;
  /* font-style: italic; */

  padding: 30px 30px 20px 30px;
  border: none;
  background-color: rgb(106, 181, 251);
  /* line-height: 1.1em; */
}